body {
font-family: Roboto
}

.navbar {
background-color: #28a745;
color: white;
}

.container {
text-align: left;
}

h5 {
color: #212529;
font-weight: 300;
font-size: 20px;
}

.card-body .card-text{
    list-style-type: none;
}

.card-text{
    font-size: 16px;
    font-weight: 300;
}

#formulario {
background-color: #28a745;
}
#formulario-txt {
width: 800px;
}
